<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Optional -->
  <!-- This file should match the same file in bin/debug/ or bin/release/ -->
  <!-- properties resource="../../../Files/properties.config"/ -->
  
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="../../Config/providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="SQLite3"/>
		<dataSource name="Blogs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../../Config/Stocks.db"/>
	</database>

	<sqlMaps>
			<sqlMap resource="../../Config/sqlxml/Stock.xml" />
      <sqlMap resource="../../Config/sqlxml/Bonus.xml" />
	</sqlMaps>

</sqlMapConfig>